body{
    background-color: #c0c0c0;
    padding: 20px;
}
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}
#h3{
    text-transform: uppercase;
}
#image{
    height: 50vh;
    width: 50vw;
    position: absolute;
    left: 40%;
    top: 40px;
}

